<div class="" role="alert" style="height: 505px; opacity: 1;">
    <div class="">
        <div class="" style="text-align: center">
            <svg  xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none" aria-hidden="true">
                <g clip-path="url(#clip0)">
                    <path d="M12 26.4461L16.9 33.4001C17.0859 33.6778 17.3354 33.907 17.6277 34.0687C17.92 34.2305 18.2468 34.3201 18.5807 34.3301C18.9147 34.34 19.2462 34.2701 19.5477 34.1261C19.8492 33.9821 20.1119 33.7682 20.314 33.5021L36 13.6561" stroke="#00D7D2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M24 46.498C36.4264 46.498 46.5 36.4244 46.5 23.998C46.5 11.5716 36.4264 1.49802 24 1.49802C11.5736 1.49802 1.5 11.5716 1.5 23.998C1.5 36.4244 11.5736 46.498 24 46.498Z" stroke="#00D7D2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="48" height="48" fill="white"></rect>
                    </clipPath>
                </defs>
            </svg>

        </div>

        <div class="text-success">
            <h2>Thank you for your inquiry. You'll receive a response within two business days.</h2>
        </div>

        <div class="">
            <p style="text-align: center" class="text-muted">Here are some resources you might be interested in.</p>
        </div>

    </div>
</div>