<!-- Footer -->
<hr>
<footer>
    <div class="row">
        <div class="col-md-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>
</footer>
<!-- end Footer -->

<!-- Bootstrap Core JavaScript -->
<script src="../../Scripts/js/bootstrap.min.js"></script>
<script src="../../Scripts/js/my.js"></script>
<!--My javascript -->
<script src="../../Scripts/AjaxJquery/Home.js"></script>
<script>
    $('.carousel-inner div:first').addClass('active');
    //redirect
   function redirect() {
       $.ajax({
           method: "GET",
           url: "../News/index.php",
           success:function (res) {
               console.log(res);
           }
       });

   }
</script>

</body>

</html>